{% extends 'base.html.twig' %}

{% block title %}
    Les prestations Jade Beauty
{% endblock %}

{% block body %}
    <h1>Nos réservations</h1>

    <table class="table" style="text-align: center">
        <thead>
        <tr>
            <th>Nom du client</th>
            <th>Prestations</th>
            {# <th>Nom du client</th> #}
            <th>Date et heure du rendez-vous</th>
            {# <th>End</th> #}
            {# <th>Description</th> #}
            {# <th>All_day</th> #}
            {# <th>Background_color</th> #}
            {# <th>Border_color</th> #}
            {# <th>Text_color</th> #}
            <th>Modifications</th>
        </tr>
        </thead>
        <tbody>
        {% for calendar in app.user.prestations %}
            <tr>
                <td>
                    {{ calendar.user.lastname }}
                </td>
                <td>
                    {{ calendar.product.name }}
                </td>
                <td>
                    {{ calendar.start ? calendar.start|date('d/m/Y H:i:s') : '' }}
                </td>
                {# <td>{{ calendar.description }}</td> #}
                {# <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td> #}
                {# <td>{{ calendar.backgroundColor }}</td> #}
                {# <td>{{ calendar.borderColor }}</td> #}
                {# <td>{{ calendar.textColor }}</td> #}
                <td>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">
                        <img src="{{ asset('assets/image/icone/modifier.png') }}" alt="modifier mon produit" height="25px">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de réservation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div style="text-align: center">
        <a class="btn btn-sm" style="background-color: lightpink; color: rebeccapurple" href="{{ path('calendar_new') }}">Ajouter une réservation</a>
    </div>
{% endblock %}
