{% extends 'base.html.twig' %}


{% block title %}Jade Beauty{% endblock %}

{% block body %}

    <section id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner bloc-carousel1">
            <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{{ asset('assets/image/soinongle.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                        <img src="{{ asset('assets/image/soinvisage.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                        <img src="{{ asset('assets/image/epilation.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>

    <!-- DESCRIPTION CONCEPT -->

    <div class="card mb-4 mt-3 mx-auto" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://images.pexels.com/photos/4197693/pexels-photo-4197693.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid rounded-start" alt="salon">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Jade Beauty le rendez-vous détente au service de la beauté</h5>
                <p class="card-text">Vous êtes à la recherche d’un institut de beauté à l’écoute de vos préoccupations esthétiques, de
                    votre bien-être et de votre allure ? <br>
                    « Jade Beauty » votre rendez-vous détente au service de la beauté vous offre une vaste gamme de
                    prestations personnalisées.</p>
            </div>
            </div>
        </div>
    </div>



    <!-- DESCRIPTION ÉQUIPE -->
    <section class="container mt-4 mb-4 p-4" >
        <h2 class="text-center"  > Faites-vous sublimer dans les mains expertes de nos deux esthéticiennes</h2>
        <p class="text-center">
            Notre institut de beauté vous fait la promesse de soins réalisés avec douceur et professionnalisme par Maria
            et Poonam, vos esthéticiennes.

            La qualité est notre référence pour vous satisfaire au mieux.


        </p>


        <div class="row mt-5 text-center justify-content-around">
            <div class="card" style="width: 15rem;">
            <img src="{{ asset('assets/image/maria.jpg') }}" class="card-img-top" style="max-height:280px; " alt="estheticienne maria">
            <div class="card-body">
                <p class="card-text">Esthéticienne</p>
                <p class="card-text">Maria</p>
                <p class="card-text">Spécialiste de l'onglerie.</p>
            </div>
            </div>
            <div class="card" style="width: 15rem;">
            <img src="{{ asset('assets/image/dame.jpg') }}" class="card-img-top" style="height:280px; alt="estheticienne poonam">
            <div class="card-body">
                <p class="card-text">Esthéticienne</p>
                <p class="card-text">Poonam</p>
                <p class="card-text">Spécialiste du sourcil.</p>
            </div>
            </div>
        </div>
    </section>

    <!-- BANNIERE -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="test2"></div>


    
    <!-- SPÉCIALITÉS -->
    <section class="container card mt-4">

            <h2 class="text-center colorText policeManuscrite m-3">Spécialités de l'institut</h2>

            <div class="container">
                <div class="row align-items-start ">

                    <div class="col-md-4 mt-4">
                        <div class="card ">
                            <div class="card-body">
                                <h5 class="card-title policeManuscrite"> Nail Art</h5>
                                <p class="card-text">
                                    Le nail art est une technique populaire qui se répand dans le monde entier. Le Japon est
                                    réputé
                                    pour ses nail artists, ses techniques et son haut niveau de soins.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4  mt-4">
                        <div class="card ">
                            <div class="card-body">
                                <h5 class="card-title policeManuscrite">French Manucure</h5>
                                <p class="card-text">
                                    Nos produits et techniques de French Manucure vous garantissent un résultat magnifique et
                                    des
                                    ongles sains et éclatants.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4  mt-4">
                        <div class="card ">
                            <div class="card-body">
                                <h5 class="card-title policeManuscrite">Epilation au fil à l'indienne</h5>
                                <p class="card-text">
                                    Découvrez nos l'épilation au fil, cette technique permet une épilation ultra-précise puisqu'il est possible de saisir chaque poil individuellement pour l'arracher. Mais de ce fait, cette technique d'épilation est surtout conseillée pour enlever les poils sur de petites surfaces comme le visage...et nous vous proposons de vous épiler les sourcils !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="text-center colorText policeManuscrite m-4">
                    <a class="btn" style="background-color: lightpink; color: rebeccapurple" href="{{ path('home_prestation') }}">
                        Prestations et réservations
                    </a>
                </div>

            </div><!-- end div container--> 
        </section>
{% endblock %}
