{% extends 'base.html.twig' %}

{% block title %}Notre E-shop | JhadBeauty {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 justify-content-center mx-auto">

            <h3 class="title-PageProduct">Nos produits</h3>


            <div class="row product-container">
                {% for product in products %}

                    <div class="col-md-4 mt-4">
                        <div class="card">
                            <div class="position-relative">
                                <a href=""><img src="{{ product.image }}" alt="{{ product.name }}"
                                                class="img-fluid img-thumbnai card-img-tol"
                                    ></a>
                                <div class="card-img-overlay d-flex justify-content-end align-items-end">
                                    <button type="button" class="btn btn-light rounded-circle" data-toggle="button"
                                            aria-pressed="false" autocomplete="off"><i class="far fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><small><span class="d-block title-PageProduct">Nom du produit : </span>{{ product.name }}</small></h5>
                                <span class="d-block"><span class="d-block title-PageProduct">Prix : </span>{{ (product.price) }} €</span>
                                <div class="row m-3">

                                    <a href="{{ path('boutique_product', {id : product.id}) }}"
                                       class="btn btn-warning btn-sm">Voir le produit</a></div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}