{% extends 'base.html.twig' %}

{% block title %}
	Galerie
{% endblock %}

{%  block stylesheets %}
	<!--CSS only-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

	<h1 class="galerie titreGalerie colorText policeManuscrite">GALERIE</h1>

	<div class="container-fluid justify-content-between">
		<div class="row block">
			<div class="col-md-3">
				<img class="img7" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nail7">
			</div>
			<div class="col-md-3">
				<img class="imgart1" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nailart1">
			</div>
			<div class="col-md-3">
				<img class="imgart5" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nailart5">
			</div>
		</div>
		<br>


		<div class="row block">
			<div class="col-md-3">
				<img class="imgart2" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nailart2">
			</div>
			<div class="col-md-3">
				<img class="imgart4" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nailart4">
			</div>
			<div class="col-md-3">
				<img class="img6" src="{{ asset('uploads/images/product/test1.jpg') }}" alt="nail6">
			</div>
		</div>
	</div>


{% endblock %}
