<div class="footergeneral">
<div class="row">
    <div class="col md-2">
        <section class="footer1">
            
        <div><B>Nos horaires</B>
        
            <ul class="horaires">
            
            <li>lundi : 9h-20h</li>
            <li>mardi : 9h-20h</li>
            <li>mercredi : 9h-20h</li>
            <li>jeudi : 9h-20h</li>
            <li>vendredi : 9h-20h</li>
            <li>samedi : 9h-20h</li>
            
            </ul>
        </div>
       </section> 
    </div>
    <div class="col md-2">
        <section class="footer2">
            <div><B>Notre Adresse</B>
                <ul class="adresse">
                    <li>18 rue Beaubourg</li>
                    <li>75003 Paris</li>
            </ul>
            </div>
            
        </section>
            
    </div>
    <div class="col md-2">
        <section class="footer3">
            <div><B>Nous Contacter</B></div>
            
            <div class="coordonnees">
                WhatsApp: <br>+33(0)6 78 76 89 99<br>LINE: @uld4532j
            <div class="facebooketinsta">
            <a class="nav-link active nav-footer-color" href="https://www.facebook.com/jhadbeauty.manu/"><img class ="facebook"  src="{{ asset('assets/images/Annegallery/facebook.png') }}" alt="facebook jhadBeauty " ></a>

            <a class="nav-link active nav-footer-color" href="https://twitter.com/home"><img class ="twitter"  src="{{ asset('assets/images/Annegallery/twitter.jpeg') }}" alt="twitter jhadBeauty " ></a>
        
            <a class="nav-link active nav-footer-color" href="https://www.instagram.com/jhadbeauty/"><img class ="instagram"  src="{{ asset('assets/images/Annegallery/insta.png') }}" alt="instagram jhadBeauty " ></a>
            </div>
            </div>
            

            
            
        </section>
    </div>    
</div>
    
</div>
<div class="row">

    <section style="margin:0 auto;" class="d-flex">
        <a class="nav-link active footer4" href="{{  path('home_bookingPolicy') }}"><B>BOOKING POLICY</B></a>
        <a class="nav-link active footer4" href="{{  path('home_termsOfService') }}" ><B>TERMS OF SERVICE</B></a>
        <a class="nav-link active footer4" href="{{  path('home_privacyPolicy') }}" ><B>PRIVACY POLICY</B></a>
    </section>
</div>

