<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">JhadBeauty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Prestations<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home_boutique') }}">E-boutique<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{path('gestion_product')}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Back-Office
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{path('gestion_product')}}">Gestion Produit</a>
                    <a class="dropdown-item" href="{{path('gestion_user')}}">Gestion Utilisateurs</a>
                    <a class="dropdown-item" href="{{path('gestion_order')}}">Gestion Commandes</a>
                    <a class="dropdown-item disabled" href="#">Gestion réservations</a>
                </div>
            </li>
            {% endif %}

        </ul>
        <div class="navbar-item-custom">
            {% if app.user %}
                <a href="{{ path('account') }}">Mon compte <small>{{ app.user.firstname }}</small></a> | <a href="{{ path('app_logout') }}">Se deconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
            {% endif %}
        </div>
        <a href="{{ path('cart_index') }}">
            <img src="{{ asset('assets/image/icone/shopping-cart.png') }}" class="cart-icon" alt="panier"></a>
    </div>
</nav>